main {
    flex: 1;
    padding-top: 4rem; /* Adjust based on the navbar height */
}

/* Style for the body to center the content vertically and horizontally */
body {
    flex-direction: column;
    min-height: 100vh;

    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    flex-direction: column; /* Arrange children in a column */
}

/* Style for the container to center the content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

/* Style for the chart title */
.chart-title {
    text-align: center; /* Center the text */
    font-size: 24px; /* Set font size */
    margin-bottom: 20px; /* Space below the title */
}

/* Style for the axis labels */
.axis-label {
    font-size: 12px; /* Set font size */
}

/* Style for the tooltip */
.tooltip {
    position: absolute; /* Position tooltip absolutely */
    background-color: white; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    padding: 10px; /* Padding inside the tooltip */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
    cursor: pointer; /* Change 'pointer' to any cursor style you prefer */
}

/* Style for the dropdown containers */
.dropdown-container {
    margin-bottom: 10px; /* Space below the dropdowns */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dropdown-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-container label {
    margin-bottom: 5px;
}

/* Style for the SVG background */
svg {
    background-color: #e0e0e0; /* Gray background */
    cursor: pointer; /* Change 'pointer' to any cursor style you prefer */

}

